[build]
  base = "frontend"
  command = "npm run build"
  publish = "dist"

[build.environment]
  CI = "false"
  NODE_VERSION = "20"

# This section must be at the very bottom and not indented
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200